  <div class="col-xs-12">
    <div class="card">
      <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="image-responsive" style="max-height:300px">
      <div class="card-body">
        <h4 class="card-title" appHighlight>{{recipe.name}}</h4>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >Manage Recipe <span class="caret"></span></button>
          <ul class="dropdown-menu" style="cursor: pointer">
              <li class="dropdown-item"><a (click)="addIngredientsToShoppingList()">To shopping list</a></li>
              <li class="dropdown-item"><a (click)="onEditClicked()">Edit</a></li>
              <li class="dropdown-item"><a >Delete</a></li>
          </ul>
        </div>
        <p>
          {{recipe.description}}
        </p>
        <div>
          <h6>Ingredients</h6>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ing of recipe.ingredients">{{ing.name}} ({{ing.amount}})</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

