<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-header (selectedFeature)="navigateTo($event)"></app-header>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-recipes *ngIf="navigateToPage === 'recipe'"></app-recipes>
    <app-shopping-list *ngIf="navigateToPage === 'shopping-list'"></app-shopping-list>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>Thank you for visiting</p>
      </div>
  </div>
</div>
